html,
		body {
		  height: 100%;
		  width: 100%;
		}

#footer{
    background-color: beige;
}
#menu{
    background-color: antiquewhite;
    float: left;
    width: 150px;
    height: 100%;
    font-size: 20px;

}
#header{
    background-color: aliceblue;

}
#content{
    background-color: aquamarine;
    margin-left: 160px;
}

#menu ul li{
    list-style: none;
}

#menu ul li a{
    text-decoration: none;
}

#menu ul li a :hover{
    background-color: blanchedalmond;
}



    